<h1>New Scan</h1>


<%= form_with scope: :scan, url:scans_path, local: true do |form| %>


  <p>
    <%= form.label :URL %><br>
    <%= form.text_field :URL %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
